fastapi==0.115.11
numpy==2.2.3
openai==1.65.3
opencv_contrib_python==4.5.5.64
opencv_python==4.6.0.66
pydantic==2.10.6
pyzbar==0.1.9
uvicorn==0.34.0

fastapi==0.115.8
numpy==1.26.4  # Downgrade to a stable 1.x version
opencv_contrib_python==4.5.5.64
opencv_python==4.6.0.66
pydantic==2.10.6
uvicorn==0.34.0
openai==1.65.1
pyzbar==0.1.9
